*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    height: 100vh;
    width: 100vw;
    position: relative;
}

.bgcontainer{
    width: 100%;
    height: 100%;
    padding: 3rem;
    gap: 1rem;  
    

    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(7,1fr);

}

#logo{
    background-color: rgb(79, 120, 223);
    
    grid-column-start: 1;
    grid-column-end: 2;
}

#nav{
    background-color: rgb(218, 139, 139);
    
    grid-column-start: 2;
    grid-column-end: 7;
}

#sidebar{
    background-color: rgb(79, 199, 223);
    
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 6;
}


#content{
    background-color: rgb(159, 65, 231);
    
    grid-column-start: 3;
    grid-column-end: 7;
    grid-row-start: 2;
    grid-row-end: 6;
}

#footer{
    background-color: rgb(219, 184, 71);
    
    grid-column-start: 1;
    grid-column-end: 7;
    grid-row-start: 6;
    grid-row-end: 8;
}


.grid{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 3px;
    cursor: pointer;
}


.noti{
    /* display: block; */
    background-color: #fff;
    max-width: 300px;
    position: fixed;
    
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    padding: 10px;
    margin: 5px;
    border-radius: 5px;
    display: none;

}

#top{
    display: flex;
    flex-direction:row;
    justify-content:center;
    position: relative;

    color: rgb(32, 120, 120);
    font-size: 20px;
}

#top p{
    margin: 2px;
    text-align: center;
}

#closebtn{
    position: absolute;
    right: 10px;

    padding: 4px 7px;

    background-color: rgb(151, 168, 210);
    border: 1px solid rgb(68, 117, 239);
    border-radius: 2px;
    cursor: pointer;
}


#text{
    margin: 5px;
    font-size: 14px;
}

#submitbtn{
    display: flex;
    margin: 10px auto 2px;
    align-self: center;

    padding: 4px 7px;
    background-color: rgb(157, 224, 157);
    border: none;
    border-radius: 2px;
    cursor: pointer;
}


.blr{
    filter: blur(5px);
}

.transparentContainer{
    z-index: -10;
    position: absolute;
    top: 0;
    width: 100vw;
    height: 100vh;
}